.form-signin-heading {
    color: black;
    margin-right: -50px;
    margin-left: 50px;
    margin-top: 5px;
    border: 0;
    background: white;
}

.col-lg-11{
    padding-left: 40px;
}

header{
    margin: 0px 0px 0px;
}

.navbar-inverse{
    background: black;
    border: 0;
    margin-top: -20px;
}

#myNavbar .navbar-nav > li > a{
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

#myNavbar .navbar-nav > li > a:hover,
#myNavbar .navbar-nav > li > a:focus {
    color: black;
    background-color: grey;
}


.navbar-default .navbar-right > li > a{
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    background-color: white;
}

.navbar-default .navbar-right > li > a:hover,
.navbar-default .navbar-right > li > a:focus {
    color: grey;
}

#logo{
    height: 50px;
    margin-right: -50px;
    margin-left: 30px;
    margin-top: -15px;
}

.navbar-default{
    background: white;
}