input.ng-valid {
    background-color: lightgreen;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px lightgreen inset;
    -webkit-text-fill-color: #694d4d;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px lightgreen inset;
    -webkit-text-fill-color: #694d4d;
}

.btn{
    background: black;
    color: white;
}

.btn:hover,

.btn:focus,

.btn:visited{
    background: gray;
    color: black;
}

.animate-error.ng-hide {
    opacity: 0;
}

.animate-error.ng-hide-add,
.animate-error.ng-hide-remove {
    transition: all linear 0.5s;
}