<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/signin.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.js"></script>

    <title>SignIn</title>
</head>


<body>
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form name="signin" role="form" ng-submit="login()">
                    <div class="form-group">
                        <h2>Authentication</h2>
                        <label for="username" class="sr-only">Login</label>
                        <input type="text"
                               name="username"
                               id="username"
                               class="form-control input-lg"
                               ng-model="username"
                               placeholder="Login"
                               required oninvalid="this.setCustomValidity('Fill this form')"
                               oninput="setCustomValidity('')">
                        <br>
                        <label for="password" class="sr-only">Password</label>
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control input-lg"
                               ng-model="password"
                               placeholder="Password" required oninvalid="this.setCustomValidity('Fill this form')"
                               oninput="setCustomValidity('')"><br>

                        <button type="submit" value="Login" class="btn btn-lg btn-block login-button">Sign in</button>
                        <div class="animate-error" style="color:red" ng-show="showSigninError">
                            <br><h4>Login or password is not valid.</h4>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</body>
</html>